@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    
}

.header h1 {
    text-transform: uppercase;
}

.image-container {   
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 2rem auto;  
}

.navigation ul li {
    border: 1px solid rgb(250, 5, 5);
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}

.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}


.main-container {
    margin: 0 auto;
    width: 75%;
}

.main-container div {
    margin-bottom: 2rem;
}

.main-container h1 {
    margin-bottom: 5rem;
}

.main-container p {
    text-align: justify;
}

.footer {
    font-size: 2rem;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li {
    display: inline-block;
    margin: 2rem;
}

.footer ul a {
    color: #777;
    text-decoration: none;
}


@media (min-width: 480px) {
    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/

    .container {
        background-color: rgb(75, 237, 140);
        color: rgba(23, 2, 2, 0.712);
        border: 3px solid rgb(171, 14, 14);
        width: 100%;
    }

    .image-container {   
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile2.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto; 
    }
    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 1px solid red;
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }
    
}


@media (min-width: 768px) {
    .image-container {   
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile3.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto;  
    }

    .container {
        background-color: rgb(95, 82, 182);
        color: rgba(23, 2, 2, 0.712);
        border: 3px solid rgb(61, 220, 85);
        width: 100%;
    }

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 3px solid rgb(61, 220, 85);
    }
    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/
}


@media (min-width: 1024px) {
    .image-container {   
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile4.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto;  
    }

    .container {
        background-color: rgb(214, 246, 7);
        color: rgba(247, 3, 3, 0.712);
        border: 3px solid rgb(1, 7, 2);
        width: 100%;
    }

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 3px solid rgb(1, 7, 2);
    }
    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/
}


@media (min-width: 1200px) {

    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/
    .header h1 {
        margin: 3rem auto;
    }
    
    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 3px solid rgb(4, 255, 42);
    }
    
    .navigation ul li:not(:last-child) {
        border-bottom: 1px solid black;
        margin-right: 4rem;
    }

    .main-container {
        width: 75%;
    }
    
    .image-container {   
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile1.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto;  
    }

    .container {
        background-color: rgb(231, 52, 52);
        color: rgba(0, 0, 0, 0.712);
        border: 3px solid rgb(4, 255, 42);
        width: 100%;
    }
}